{% extends "base.html" %}
{% load static %}

{% block title %}Товар{% endblock title %}

{% block content %}
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">ТОВАР</li>
                    </ol>
                </div><!-- End .container -->
            </nav>
            <div class="container">
                <div class="row row-sm">
                    <div class="col-lg-12">
                        <div class="product-single-container product-single-default">
                            <div class="row row-sm">
                                <div class="col-lg-7 col-md-6 product-single-gallery">
                                    <div class="product-slider-container product-item">

                                        <figure class="figure">
                                            <img src="" class="figure-img img-fluid rounded" alt="Изображение не загрузилось из-за технических непоняток">
                                            <figcaption class="figure-caption">Изображение может отличаться от реального вида товара.</figcaption>
                                        </figure>

                                        <span class="prod-full-screen">
                                            <i class="icon-plus"></i>
                                        </span>
                                    </div>
                                    <div class="prod-thumbnail row owl-dots" id='carousel-custom-dots'>

                                        <div class="col-3 owl-dot">
                                            <img src=""/>
                                        </div>

                                    </div>
                                </div><!-- End .col-lg-7 -->

                                <div class="col-md-6 col-lg-5-more">
                                    <div class="product-single-details">
                                        <h1 class="product-title">Товар</h1>

                                        <div class="price-box">
                                            <span class="product-price">Цена</span>
                                        </div><!-- End .price-box -->

                                        <div class="product-desc">
                                            <p>Описание</p>
                                        </div><!-- End .product-desc -->

                                        <div class="product-action">
                                            <a class="btn btn-dark" href="">в корзину</a>
                                        </div><!-- End .product-action -->
                                    </div><!-- End .product-single-details -->
                                </div><!-- End .col-lg-5 -->
                            </div><!-- End .row -->
                        </div><!-- End .product-single-container -->
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="featured-section">
                <div class="container">
                    <div class="product-panel">
                        <h2 class="section-title">ПОХОЖИЕ ТОВАРЫ</h2>

                        <div class="row row-sm product-ajax-grid">

                                    <div class="col-4 col-md-3">
                                        <div class="product-default inner-quickview inner-icon">
                                            <figure>
                                                <a href="">
                                                    <img src="">
                                                </a>
                                                <div class="btn-icon-group">
                                                    <a href=""><button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-bag"></i></button></a>
                                                </div>
                                            </figure>
                                            <div class="product-details">
                                                <div class="category-wrap">
                                                    <div class="category-list">
                                                        <a href="" class="product-category">Раздел</a>
                                                    </div>
                                                </div>
                                                <h class="product-title">
                                                    <a target="_blank" href="" title="" style="white-space: normal">Название</a>
                                                </h>
                                                <div class="price-box">
                                                    <span class="product-item-price">Цена</span>
                                                </div><!-- End .price-box -->
                                            </div><!-- End .product-details -->
                                        </div>
                                    </div>

                        </div>
                        <a class="btn btn-primary" href="" role="button">Смотреть все товары</a>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .featured-section -->
        </main><!-- End .main -->
{% endblock content %}
