[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.1.7"
django-mptt = "0.14.0"
pillow = "9.4.0"
psycopg2 = "2.9.6"
django-jazzmin = "2.6.0"
python-dotenv = "1.0.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.5"
