{% extends "base.html" %}
{% load static %}

{% block title %}
Добавление поста :: {{ block.super }}
{% endblock title %}

{% block content %}

<main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'blog:blog' %}">блог</a></li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="container">
                <div class="row">

                    <div class="col-lg-9">
                        <article class="entry single">
                            <div class="entry-body">
                                <div class="form-group">
                                    <form action="{% url 'blog:add_post' %}" method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-primary btn-outline-secondary active">Добавить пост</button>
                                    </form>
                                </div>
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->
                    </div><!-- End .col-lg-9 -->

                    <aside class="sidebar-shop col-lg-3 order-lg-first">
                        <div class="sidebar-wrapper">
                            <div class="widget">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true"
                                    aria-controls="widget-body-2">Категории</a>
                                </h3>
                                <div class="collapse show" id="widget-body-2">
                                    <div class="widget-body">
                                        <ul class="cat-list">
                                            <li>
                                            {% for item in blog_categories %}
                                            <a href="{% url 'blog:category' item.pk %}"
                                               class="list-group-item list-group-item-action btn-outline-secondary btn-clear-cart"
                                               style="text-decoration: none;">{{ item.title }}</a>
                                            {% endfor %}
                                            </li>
                                        </ul>
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->
                        </div><!-- End .sidebar-wrapper -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </main><!-- End .main -->
{% endblock content %}